{
  "openapi": "3.0.1",
  "info": {
    "title": "Madaster Private API - Build: 9757",
    "description": "Welcome to the **Madaster Private API** endpoint. This endpoint can be used to interact with the Madaster Platform and its resources. This API does not fully cover all functionality of the platform yet, please see below for the available functions and what they can be used for. For detailed information about the platform and this API, please refer to the [Madaster Documentation](https://docs.madaster.com) or the [Madaster API Documentation](https://docs.madaster.com/api).<br/><br/>To access these resources, you need an authorization token. If you do not have one yet, see the chapter about Authorization in the [API documentation](https://docs.madaster.com/api). This token should be sent as a header with the name 'X-API-Key', which will authenticate the request with the token. The documentation below specifies which requests are available and which responses they might produce.<br/><br/>This API can be reached at the endpoint: **[https://api.madaster.com/](https://api.madaster.com/)**",
    "contact": {
      "name": "Madaster Services B.V.",
      "url": "https://www.madaster.com",
      "email": "service@madaster.com"
    },
    "version": "v3.0"
  },
  "servers": [
    {
      "url": "https://api.madaster.com"
    }
  ],
  "paths": {
    "/api/v3.0/account": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Gets the current account for the token",
        "operationId": "Account_GetAccount",
        "responses": {
          "200": {
            "description": "The account for the used token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3.0/account/foldertypes": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Gets the foldertypes for the account",
        "operationId": "Account_GetFolderTypes",
        "responses": {
          "200": {
            "description": "The foldertypes for the account.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FolderType"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v3.0/building": {
      "get": {
        "tags": [
          "Building"
        ],
        "summary": "Gets all buildings",
        "operationId": "Building_GetBuildings",
        "responses": {
          "200": {
            "description": "The request was successful and will return all buildings.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BuildingResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Building"
        ],
        "summary": "Adds a building",
        "operationId": "Building_AddBuilding",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BuildingRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/BuildingRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BuildingRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The building was created and the location of the resource will be returned in the 'location' header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuildingResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3.0/building/{id}": {
      "get": {
        "tags": [
          "Building"
        ],
        "summary": "Gets a building by its identifier",
        "operationId": "Building_GetBuildingById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The building identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful and will return the building.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuildingResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Building"
        ],
        "summary": "Replaces a building",
        "operationId": "Building_UpdateBuilding",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The building identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BuildingRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/BuildingRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BuildingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The building was replaced in its entirety and the result will be returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuildingResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Building"
        ],
        "summary": "Deletes the building and all related data",
        "operationId": "Building_DeleteBuilding",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The building identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The building was successfully deleted."
          }
        }
      }
    },
    "/api/v3.0/building/{id}/validation": {
      "get": {
        "tags": [
          "Building"
        ],
        "summary": "Gets building validation parameters",
        "operationId": "Building_GetValidation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The building identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The building validation paramaters for the active source files.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuildingValidation"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3.0/building/{id}/circular": {
      "get": {
        "tags": [
          "Building"
        ],
        "summary": "Gets the circular information of a building",
        "operationId": "Building_GetCircularInformation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The building identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful and will return the building's circular information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuildingCircularInformation"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3.0/building/{id}/process": {
      "post": {
        "tags": [
          "Building"
        ],
        "summary": "Schedules the building for proccesing, recalculates all data",
        "operationId": "Building_RecalculateBuilding",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The building identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The processing was accepted for generation"
          }
        }
      }
    },
    "/api/v3.0/building/{id}/exportpassport": {
      "post": {
        "tags": [
          "Building"
        ],
        "summary": "Schedules the generation of a PDF building passport",
        "operationId": "Building_CreatePdfPassport",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The building identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "accept-language",
            "in": "header",
            "description": "The culture to use for the request",
            "schema": {
              "$ref": "#/components/schemas/AcceptLanguage"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The pdf passport was accepted for generation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuildingFileResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3.0/building/{id}/exportexcelpassport": {
      "post": {
        "tags": [
          "Building"
        ],
        "summary": "Schedules the generation of a Excel building passport",
        "operationId": "Building_CreateExcelPassport",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The building identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "accept-language",
            "in": "header",
            "description": "The culture to use for the request",
            "schema": {
              "$ref": "#/components/schemas/AcceptLanguage"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The excel passport was accepted for generation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuildingFileResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3.0/building/{id}/batchactivate": {
      "post": {
        "tags": [
          "Building"
        ],
        "summary": "Activate multiple files on a building",
        "operationId": "Building_BatchActiveAsync",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The building identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "uuid"
                },
                "nullable": true
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "uuid"
                },
                "nullable": true
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "uuid"
                },
                "nullable": true
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The files are activated and calculation is started."
          }
        }
      }
    },
    "/api/v3.0/building/{buildingId}/files": {
      "get": {
        "tags": [
          "BuildingFile"
        ],
        "summary": "Gets all building files",
        "operationId": "BuildingFile_GetFiles",
        "parameters": [
          {
            "name": "buildingId",
            "in": "path",
            "description": "The building identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful and will return all building files.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BuildingFileResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "BuildingFile"
        ],
        "summary": "Adds a building file",
        "operationId": "BuildingFile_AddFile",
        "parameters": [
          {
            "name": "buildingId",
            "in": "path",
            "description": "The building identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BuildingFileRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/BuildingFileRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BuildingFileRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The building file was created and the location of the resource will be returned in the 'location' header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuildingFileResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3.0/building/{buildingId}/files/{id}": {
      "get": {
        "tags": [
          "BuildingFile"
        ],
        "summary": "Gets a building file by its identifier",
        "operationId": "BuildingFile_GetFileById",
        "parameters": [
          {
            "name": "buildingId",
            "in": "path",
            "description": "The building identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The file identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful and will return the building file.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuildingFileResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "BuildingFile"
        ],
        "summary": "Delete a building file",
        "operationId": "BuildingFile_DeleteFile",
        "parameters": [
          {
            "name": "buildingId",
            "in": "path",
            "description": "The building identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The file identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The building was successfully deleted."
          }
        }
      }
    },
    "/api/v3.0/building/{buildingId}/files/{id}/status": {
      "get": {
        "tags": [
          "BuildingFile"
        ],
        "summary": "Gets a building file status by its identifier",
        "operationId": "BuildingFile_GetStatusById",
        "parameters": [
          {
            "name": "buildingId",
            "in": "path",
            "description": "The building identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The file identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful and will return the building file status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuildingFileStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3.0/building/{buildingId}/files/{id}/download": {
      "get": {
        "tags": [
          "BuildingFile"
        ],
        "summary": "Gets a download url for the building file",
        "operationId": "BuildingFile_Download",
        "parameters": [
          {
            "name": "buildingId",
            "in": "path",
            "description": "The building identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The file identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful and will return the download url.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileDownloadResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3.0/building/{buildingId}/files/{id}/active": {
      "post": {
        "tags": [
          "BuildingFile"
        ],
        "summary": "Activates or deactivates a building file",
        "operationId": "BuildingFile_SetActive",
        "parameters": [
          {
            "name": "buildingId",
            "in": "path",
            "description": "The building identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The file identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "boolean"
              }
            },
            "text/json": {
              "schema": {
                "type": "boolean"
              }
            },
            "application/*+json": {
              "schema": {
                "type": "boolean"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The active-status of the building file was updated and the building file will be returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuildingFileResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3.0/building/{buildingId}/files/{id}/setimporting": {
      "post": {
        "tags": [
          "BuildingFile"
        ],
        "summary": "Sets the status of a file to 'importing', so element can be added or updated can be made.",
        "operationId": "BuildingFile_SetImporting",
        "parameters": [
          {
            "name": "buildingId",
            "in": "path",
            "description": "The building identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The file identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The building file was set to 'importing', no content will be returned."
          }
        }
      }
    },
    "/api/v3.0/building/{buildingId}/files/{id}/startrefinement": {
      "post": {
        "tags": [
          "BuildingFile"
        ],
        "summary": "Starts the refinement of a building file.",
        "operationId": "BuildingFile_StartRefinement",
        "parameters": [
          {
            "name": "buildingId",
            "in": "path",
            "description": "The building identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The file identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The refinement of the building file was started and the location to fetch it's status can be found in the header."
          }
        }
      }
    },
    "/api/v3.0/building/{buildingId}/files/{id}/upload/{fileName}": {
      "post": {
        "tags": [
          "BuildingFile"
        ],
        "summary": "Uploads a building file.",
        "operationId": "BuildingFile_UploadFile",
        "parameters": [
          {
            "name": "buildingId",
            "in": "path",
            "description": "The building identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The file identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "fileName",
            "in": "path",
            "description": "The file name",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The building file was successfully uploaded, and scheduled for further processing."
          },
          "202": {
            "description": "The building file was successfully uploaded."
          }
        }
      }
    },
    "/api/v3.0/building/{buildingId}/files/{fileId}/elements": {
      "get": {
        "tags": [
          "BuildingFileElement"
        ],
        "summary": "Gets a building file's elements",
        "description": "This API is ODATA enabled, the following filters can be used:\r\n\r\n* $select\r\n* $filter\r\n* $skip\r\n* $top\r\n            \r\n[READ MORE](https://developer.microsoft.com/en-us/graph/docs/concepts/query_parameters)",
        "operationId": "BuildingFileElement_GetElements",
        "parameters": [
          {
            "name": "buildingId",
            "in": "path",
            "description": "The building identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "fileId",
            "in": "path",
            "description": "The file identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful and will return the building file element.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BuildingFileElementResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "BuildingFileElement"
        ],
        "summary": "Create a new building file element",
        "operationId": "BuildingFileElement_AddElement",
        "parameters": [
          {
            "name": "buildingId",
            "in": "path",
            "description": "The building identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "fileId",
            "in": "path",
            "description": "The file identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BuildingFileElementRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/BuildingFileElementRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BuildingFileElementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The building file element was created and the location of the resource will be returned in the 'location' header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuildingFileElementResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3.0/building/{buildingId}/files/{fileId}/elements/{id}": {
      "get": {
        "tags": [
          "BuildingFileElement"
        ],
        "summary": "Gets a building file element",
        "operationId": "BuildingFileElement_GetElementById",
        "parameters": [
          {
            "name": "buildingId",
            "in": "path",
            "description": "The building identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "fileId",
            "in": "path",
            "description": "The file identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The element identifier",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful and will return the building file element.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuildingFileElementResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "BuildingFileElement"
        ],
        "summary": "Updated an existing building file element",
        "operationId": "BuildingFileElement_UpdateElement",
        "parameters": [
          {
            "name": "buildingId",
            "in": "path",
            "description": "The building identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "fileId",
            "in": "path",
            "description": "The file identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The element identifier",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BuildingFileElementRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/BuildingFileElementRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BuildingFileElementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The building file element was replaced in its entirety and the result will be returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuildingFileElementResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "BuildingFileElement"
        ],
        "summary": "Deletes an existing building file element",
        "operationId": "BuildingFileElement_DeleteElement",
        "parameters": [
          {
            "name": "buildingId",
            "in": "path",
            "description": "The building identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "fileId",
            "in": "path",
            "description": "The file identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The element identifier",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The building file element was successfully deleted."
          }
        }
      }
    },
    "/api/v3.0/building/{buildingId}/files/{fileId}/elements/batch": {
      "post": {
        "tags": [
          "BuildingFileElement"
        ],
        "summary": "Batch: upsert (insert or update) multiple new building file elements (max 500)",
        "operationId": "BuildingFileElement_UpsertElements",
        "parameters": [
          {
            "name": "buildingId",
            "in": "path",
            "description": "The building identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "fileId",
            "in": "path",
            "description": "The file identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BuildingFileElementRequest"
                },
                "nullable": true
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BuildingFileElementRequest"
                },
                "nullable": true
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BuildingFileElementRequest"
                },
                "nullable": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The building file elements are created or updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ElementBatchResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3.0/database": {
      "get": {
        "tags": [
          "Database"
        ],
        "summary": "Gets all material databases",
        "operationId": "Database_GetDatabases",
        "parameters": [
          {
            "name": "accept-language",
            "in": "header",
            "description": "The culture to use for the request",
            "schema": {
              "$ref": "#/components/schemas/AcceptLanguage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The available databases for the specified token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DatabaseResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Database"
        ],
        "summary": "Creates a new material database",
        "operationId": "Database_CreateDatabase",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatabaseRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created database.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatabaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3.0/database/{id}": {
      "get": {
        "tags": [
          "Database"
        ],
        "summary": "Get a material databases",
        "operationId": "Database_GetDatabaseById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The database identifier",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The database identifier",
              "format": "uuid",
              "example": "a6f07c5a-5b0c-4b25-91fe-de91ca2d8276"
            }
          },
          {
            "name": "accept-language",
            "in": "header",
            "description": "The culture to use for the request",
            "schema": {
              "$ref": "#/components/schemas/AcceptLanguage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The material database.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatabaseResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Database"
        ],
        "summary": "Updates an existing database",
        "operationId": "Database_UpdateDatabase",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The database identifier",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The database identifier",
              "format": "uuid",
              "example": "a6f07c5a-5b0c-4b25-91fe-de91ca2d8276"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatabaseRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The account for the used token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatabaseResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Database"
        ],
        "summary": "Delete an existing database",
        "operationId": "Database_DeleteDatabase",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The database identifier",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The database identifier",
              "format": "uuid",
              "example": "a6f07c5a-5b0c-4b25-91fe-de91ca2d8276"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The database was successfully deleted."
          }
        }
      }
    },
    "/api/v3.0/folder": {
      "get": {
        "tags": [
          "Folder"
        ],
        "summary": "Gets all folders",
        "operationId": "Folder_GetFolders",
        "responses": {
          "200": {
            "description": "The available folders for the account.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FolderResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Folder"
        ],
        "summary": "Create a new folder",
        "operationId": "Folder_AddFolder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FolderRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FolderRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FolderRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The folder was created and the location of the resource will be returned in the 'location' header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FolderResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3.0/folder/{id}": {
      "get": {
        "tags": [
          "Folder"
        ],
        "summary": "Gets a portfolio by its identifier",
        "operationId": "Folder_GetFolderById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The folder identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful and will return the folder.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FolderResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Folder"
        ],
        "summary": "Replaces a folder",
        "operationId": "Folder_UpdateFolder",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The folder identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FolderRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FolderRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FolderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The folder was replaced in its entirety and the result will be returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FolderResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3.0/material/{databaseId}": {
      "get": {
        "tags": [
          "Material"
        ],
        "summary": "Gets all materials from a database",
        "operationId": "Material_GetMaterials",
        "parameters": [
          {
            "name": "databaseId",
            "in": "path",
            "description": "The database identifier",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The database identifier",
              "format": "uuid",
              "example": "00000000-0000-0000-0000-000000000000"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All materials in the database",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MaterialResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Material"
        ],
        "summary": "Create a new material",
        "operationId": "Material_AddMaterial",
        "parameters": [
          {
            "name": "databaseId",
            "in": "path",
            "description": "The database identifier",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The database identifier",
              "format": "uuid",
              "example": "00000000-0000-0000-0000-000000000000"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MaterialRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/MaterialRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MaterialRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The material was created and the location of the resource will be returned in the 'location' header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaterialResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3.0/material/{databaseId}/{id}": {
      "get": {
        "tags": [
          "Material"
        ],
        "summary": "Gets a material by id",
        "operationId": "Material_GetMaterialById",
        "parameters": [
          {
            "name": "databaseId",
            "in": "path",
            "description": "The database identifier",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The database identifier",
              "format": "uuid",
              "example": "00000000-0000-0000-0000-000000000000"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The material identifier",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The material identifier",
              "format": "uuid",
              "example": "015bd663-faf7-449a-bca3-2246e326c047"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The material",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaterialResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Material"
        ],
        "summary": "Update an existing material",
        "operationId": "Material_UpdateMaterial",
        "parameters": [
          {
            "name": "databaseId",
            "in": "path",
            "description": "The database identifier",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The database identifier",
              "format": "uuid",
              "example": "00000000-0000-0000-0000-000000000000"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The material identifier",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The material identifier",
              "format": "uuid",
              "example": "015bd663-faf7-449a-bca3-2246e326c047"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MaterialRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/MaterialRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MaterialRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The material was replaced in its entirety and the result will be returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaterialResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3.0/material/{databaseId}/{id}/financial": {
      "get": {
        "tags": [
          "Material"
        ],
        "summary": "Gets the financial settings for a material",
        "operationId": "Material_GetFinancialSettingsById",
        "parameters": [
          {
            "name": "databaseId",
            "in": "path",
            "description": "The database identifier",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The database identifier",
              "format": "uuid",
              "example": "00000000-0000-0000-0000-000000000000"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The material identifier",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The material identifier",
              "format": "uuid",
              "example": "015bd663-faf7-449a-bca3-2246e326c047"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The material financial settings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaterialFinancialSettings"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Material"
        ],
        "summary": "Updates the financial settings for a material",
        "operationId": "Material_UpdateFinancialSettingsById",
        "parameters": [
          {
            "name": "databaseId",
            "in": "path",
            "description": "The database identifier",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The database identifier",
              "format": "uuid",
              "example": "00000000-0000-0000-0000-000000000000"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The material identifier",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The material identifier",
              "format": "uuid",
              "example": "015bd663-faf7-449a-bca3-2246e326c047"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MaterialFinancialSettings"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/MaterialFinancialSettings"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MaterialFinancialSettings"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The material financial settings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaterialFinancialSettings"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3.0/material/{databaseId}/{id}/financialvalues": {
      "get": {
        "tags": [
          "Material"
        ],
        "summary": "Gets the financial values for a material in manual import mode.",
        "operationId": "Material_GetFinancialValues",
        "parameters": [
          {
            "name": "databaseId",
            "in": "path",
            "description": "The database identifier",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The database identifier",
              "format": "uuid",
              "example": "00000000-0000-0000-0000-000000000000"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The material identifier",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The material identifier",
              "format": "uuid",
              "example": "015bd663-faf7-449a-bca3-2246e326c047"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The material financial values.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MaterialFinancialValue"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Material"
        ],
        "summary": "Adds a financial value for a material",
        "operationId": "Material_AddFinancialValue",
        "parameters": [
          {
            "name": "databaseId",
            "in": "path",
            "description": "The database identifier",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The database identifier",
              "format": "uuid",
              "example": "00000000-0000-0000-0000-000000000000"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The material identifier",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The material identifier",
              "format": "uuid",
              "example": "015bd663-faf7-449a-bca3-2246e326c047"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MaterialFinancialValue"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/MaterialFinancialValue"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MaterialFinancialValue"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "The financial value was added."
          }
        }
      }
    },
    "/api/v3.0/material/{databaseId}/{id}/financialvalues/{valueId}": {
      "put": {
        "tags": [
          "Material"
        ],
        "summary": "Updates a financial value for a material",
        "operationId": "Material_UpdateFinancialValue",
        "parameters": [
          {
            "name": "databaseId",
            "in": "path",
            "description": "The database identifier",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The database identifier",
              "format": "uuid",
              "example": "00000000-0000-0000-0000-000000000000"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The material identifier",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The material identifier",
              "format": "uuid",
              "example": "015bd663-faf7-449a-bca3-2246e326c047"
            }
          },
          {
            "name": "valueId",
            "in": "path",
            "description": "The financial value identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MaterialFinancialValue"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/MaterialFinancialValue"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MaterialFinancialValue"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "The financial value was updated."
          }
        }
      },
      "delete": {
        "tags": [
          "Material"
        ],
        "summary": "Deleted a financial value for a material",
        "operationId": "Material_DeleteFinancialValue",
        "parameters": [
          {
            "name": "databaseId",
            "in": "path",
            "description": "The database identifier",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The database identifier",
              "format": "uuid",
              "example": "00000000-0000-0000-0000-000000000000"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The material identifier",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The material identifier",
              "format": "uuid",
              "example": "015bd663-faf7-449a-bca3-2246e326c047"
            }
          },
          {
            "name": "valueId",
            "in": "path",
            "description": "The financial value identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The financial value was deleted."
          }
        }
      }
    },
    "/api/v3.0/material/{databaseId}/{id}/matches": {
      "get": {
        "tags": [
          "Material"
        ],
        "summary": "Gets the matching criteria for a material/product",
        "operationId": "Material_GetMatches",
        "parameters": [
          {
            "name": "databaseId",
            "in": "path",
            "description": "The database identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The material/product identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns all matches.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MatchingCriterion"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Material"
        ],
        "summary": "Adds a matchingcriterion to a material/product",
        "operationId": "Material_AddMatch",
        "parameters": [
          {
            "name": "databaseId",
            "in": "path",
            "description": "The database identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The material/product identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MatchingCriterion"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/MatchingCriterion"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MatchingCriterion"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The match was added and will be returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MatchingCriterion"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3.0/material/{databaseId}/{id}/matches/{matchId}": {
      "get": {
        "tags": [
          "Material"
        ],
        "summary": "Gets a specific matching criteria for a material/product",
        "operationId": "Material_GetMatchById",
        "parameters": [
          {
            "name": "databaseId",
            "in": "path",
            "description": "The database identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The material/product identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "matchId",
            "in": "path",
            "description": "The match identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a specific match.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MatchingCriterion"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Material"
        ],
        "summary": "Updates a matchingcriterion for a material/product",
        "operationId": "Material_UpdateMatch",
        "parameters": [
          {
            "name": "databaseId",
            "in": "path",
            "description": "The database identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The material/product identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "matchId",
            "in": "path",
            "description": "The match identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MatchingCriterion"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/MatchingCriterion"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MatchingCriterion"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The match was updated and will be returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MatchingCriterion"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Material"
        ],
        "summary": "Deletes a matchingcriterion for a material/product",
        "operationId": "Material_DeleteMatch",
        "parameters": [
          {
            "name": "databaseId",
            "in": "path",
            "description": "The database identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The material/product identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "matchId",
            "in": "path",
            "description": "The match identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The match was deleted."
          }
        }
      }
    },
    "/api/v3.0/product/{databaseId}": {
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "Gets all products from a database",
        "operationId": "Product_GetProducts",
        "parameters": [
          {
            "name": "databaseId",
            "in": "path",
            "description": "The database identifier",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The database identifier",
              "format": "uuid",
              "example": "00000000-0000-0000-0000-000000000000"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All products in the database",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProductResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Product"
        ],
        "summary": "Create a new product",
        "operationId": "Product_AddProduct",
        "parameters": [
          {
            "name": "databaseId",
            "in": "path",
            "description": "The database identifier",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The database identifier",
              "format": "uuid",
              "example": "00000000-0000-0000-0000-000000000000"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ProductRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The product was created and the location of the resource will be returned in the 'location' header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3.0/product/{databaseId}/{id}": {
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "Gets a product by id",
        "operationId": "Product_GetProductById",
        "parameters": [
          {
            "name": "databaseId",
            "in": "path",
            "description": "The database identifier",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The database identifier",
              "format": "uuid",
              "example": "00000000-0000-0000-0000-000000000000"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The product identifier",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The product identifier",
              "format": "uuid",
              "example": "015bd663-faf7-449a-bca3-2246e326c047"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The product",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Product"
        ],
        "summary": "Update an existing product",
        "operationId": "Product_UpdateProduct",
        "parameters": [
          {
            "name": "databaseId",
            "in": "path",
            "description": "The database identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The product identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ProductRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The product was replaced in its entirety and the result will be returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3.0/product/{databaseId}/{id}/children": {
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "Gets the children of a product.",
        "operationId": "Product_GetChildren",
        "parameters": [
          {
            "name": "databaseId",
            "in": "path",
            "description": "The database identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The material/product identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful and will return the product's children.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProductChild"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Product"
        ],
        "summary": "Adds a child for a product.",
        "operationId": "Product_AddChild",
        "parameters": [
          {
            "name": "databaseId",
            "in": "path",
            "description": "The database identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The material/product identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductChild"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductChild"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ProductChild"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The child was added and will be returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductChild"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3.0/product/{databaseId}/{id}/children/{childId}": {
      "put": {
        "tags": [
          "Product"
        ],
        "summary": "Updates a child for a product.",
        "operationId": "Product_UpdateChild",
        "parameters": [
          {
            "name": "databaseId",
            "in": "path",
            "description": "The database identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The material/product identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "childId",
            "in": "path",
            "description": "The material/product identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductChild"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductChild"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ProductChild"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The child was updated and will be returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductChild"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Product"
        ],
        "summary": "Deleted a child from a product.",
        "operationId": "Product_DeleteChild",
        "parameters": [
          {
            "name": "databaseId",
            "in": "path",
            "description": "The database identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The material/product identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "childId",
            "in": "path",
            "description": "The material/product identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The child was deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductChild"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3.0/product/{databaseId}/{id}/matches": {
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "Gets the matching criteria for a material/product",
        "operationId": "Product_GetMatches",
        "parameters": [
          {
            "name": "databaseId",
            "in": "path",
            "description": "The database identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The material/product identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns all matches.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MatchingCriterion"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Product"
        ],
        "summary": "Adds a matchingcriterion to a material/product",
        "operationId": "Product_AddMatch",
        "parameters": [
          {
            "name": "databaseId",
            "in": "path",
            "description": "The database identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The material/product identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MatchingCriterion"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/MatchingCriterion"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MatchingCriterion"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The match was added and will be returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MatchingCriterion"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3.0/product/{databaseId}/{id}/matches/{matchId}": {
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "Gets a specific matching criteria for a material/product",
        "operationId": "Product_GetMatchById",
        "parameters": [
          {
            "name": "databaseId",
            "in": "path",
            "description": "The database identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The material/product identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "matchId",
            "in": "path",
            "description": "The match identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a specific match.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MatchingCriterion"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Product"
        ],
        "summary": "Updates a matchingcriterion for a material/product",
        "operationId": "Product_UpdateMatch",
        "parameters": [
          {
            "name": "databaseId",
            "in": "path",
            "description": "The database identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The material/product identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "matchId",
            "in": "path",
            "description": "The match identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MatchingCriterion"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/MatchingCriterion"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MatchingCriterion"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The match was updated and will be returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MatchingCriterion"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Product"
        ],
        "summary": "Deletes a matchingcriterion for a material/product",
        "operationId": "Product_DeleteMatch",
        "parameters": [
          {
            "name": "databaseId",
            "in": "path",
            "description": "The database identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The material/product identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "matchId",
            "in": "path",
            "description": "The match identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The match was deleted."
          }
        }
      }
    },
    "/api/v3.0/system/classificationmethods": {
      "get": {
        "tags": [
          "SystemSettings"
        ],
        "summary": "Gets the available classification methods",
        "operationId": "SystemSettings_GetClassificationMethods",
        "responses": {
          "200": {
            "description": "The classification methods.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClassificationMethod"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v3.0/system/buildingusages": {
      "get": {
        "tags": [
          "SystemSettings"
        ],
        "summary": "Gets the available building usages",
        "operationId": "SystemSettings_GetBuildingUsages",
        "parameters": [
          {
            "name": "accept-language",
            "in": "header",
            "description": "The culture to use for the request",
            "schema": {
              "$ref": "#/components/schemas/AcceptLanguage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The building usages.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v3.0/system/materialfamilies": {
      "get": {
        "tags": [
          "SystemSettings"
        ],
        "summary": "Gets the available material families",
        "operationId": "SystemSettings_GetMaterialClassifications",
        "parameters": [
          {
            "name": "accept-language",
            "in": "header",
            "description": "The culture to use for the request",
            "schema": {
              "$ref": "#/components/schemas/AcceptLanguage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The material family classifications.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MaterialFamily"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v3.0/system/materialfamilies/{id}": {
      "get": {
        "tags": [
          "SystemSettings"
        ],
        "summary": "Gets the material family members",
        "operationId": "SystemSettings_GetMaterialClassificationsValues",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The family identifier",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "accept-language",
            "in": "header",
            "description": "The culture to use for the request",
            "schema": {
              "$ref": "#/components/schemas/AcceptLanguage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The material family members.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v3.0/system/materialpricesets": {
      "get": {
        "tags": [
          "SystemSettings"
        ],
        "summary": "Gets the available material price sets",
        "operationId": "SystemSettings_GetMaterialPriceSets",
        "parameters": [
          {
            "name": "accept-language",
            "in": "header",
            "description": "The culture to use for the request",
            "schema": {
              "$ref": "#/components/schemas/AcceptLanguage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The material price sets.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MaterialPriceSet"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AccountType": {
        "enum": [
          "VerifiedDatabase",
          "Supplier",
          "General",
          "Private"
        ],
        "type": "string",
        "description": "The account type.",
        "x-ms-enum": {
          "name": "AccountType",
          "modelAsString": false,
          "values": [
            {
              "name": "VerifiedDatabase",
              "value": "VerifiedDatabase"
            },
            {
              "name": "Supplier",
              "value": "Supplier"
            },
            {
              "name": "General",
              "value": "General"
            },
            {
              "name": "Private",
              "value": "Private"
            }
          ]
        }
      },
      "AccountResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The account identifier",
            "format": "uuid",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "name": {
            "type": "string",
            "description": "The account name",
            "nullable": true,
            "example": "Madaster Service B.V."
          },
          "accountType": {
            "$ref": "#/components/schemas/AccountType"
          }
        },
        "description": "The account information."
      },
      "FolderType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The foldertype identifier",
            "format": "uuid",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "name": {
            "$ref": "#/components/schemas/MultiLingualString"
          },
          "pluralName": {
            "$ref": "#/components/schemas/MultiLingualString"
          },
          "description": {
            "$ref": "#/components/schemas/MultiLingualString"
          },
          "allowbuildings": {
            "type": "boolean",
            "description": "Are buildings allowed in folder based on this folder type"
          },
          "hasAddress": {
            "type": "boolean",
            "description": "Specifies if folders based on this type can be annotated with an address"
          },
          "hasSpatialCoordinates": {
            "type": "boolean",
            "description": "Specifies if folders based on this type can be annotated with coordinates"
          },
          "allowedSubFolderTypeIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Which foldertypes are allowed as subfolders",
            "nullable": true
          }
        },
        "description": "The folder type."
      },
      "BuildingResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The identifier of the building",
            "format": "uuid"
          },
          "folderId": {
            "type": "string",
            "description": "The identifier of the parent folder",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "description": "The name of the building",
            "nullable": true
          },
          "cadastralDesignation": {
            "type": "string",
            "description": "The cadastral designation of the building",
            "nullable": true
          },
          "cadastralArea": {
            "type": "integer",
            "description": "The cadastral area of the building in square meters",
            "format": "int32"
          },
          "parcelnumber": {
            "type": "string",
            "description": "The parcel number of the building",
            "nullable": true
          },
          "publicLawRestriction": {
            "type": "string",
            "description": "The restrictions of public law in place for the building",
            "nullable": true
          },
          "completionDate": {
            "type": "string",
            "description": "The completion date of the building",
            "format": "date-time"
          },
          "lastRenovationDate": {
            "type": "string",
            "description": "The last renovation date of the building",
            "format": "date-time"
          },
          "addressStreet": {
            "type": "string",
            "description": "The street that the building is situated on",
            "nullable": true
          },
          "addressHousenumber": {
            "type": "string",
            "description": "The housenumber in the street that the building is situated on",
            "nullable": true
          },
          "addressHousenumberAddition": {
            "type": "string",
            "description": "The addition of the housenumber in the street that the building is situated on",
            "nullable": true
          },
          "addressZipcode": {
            "type": "string",
            "description": "The zipcode of the location that the building is situated on",
            "nullable": true
          },
          "addressCity": {
            "type": "string",
            "description": "The city that the building is situated in",
            "nullable": true
          },
          "addressCountry": {
            "type": "string",
            "description": "The identifier of the country that the building is situated in",
            "nullable": true
          },
          "buildingUsage": {
            "type": "string",
            "description": "The current designation of the building",
            "nullable": true
          },
          "buildingUsageOtherDescription": {
            "type": "string",
            "description": "The designation of the building, when buildingUsage is other",
            "nullable": true
          },
          "grossSurfaceArea": {
            "type": "number",
            "description": "The gross surface area of the building",
            "format": "double"
          },
          "energyLabel": {
            "type": "string",
            "description": "The current energy label of the building",
            "nullable": true
          },
          "beng1": {
            "type": "number",
            "description": "Energiebehoefte (BENG 1) - kWh/m2.jr",
            "format": "double",
            "nullable": true
          },
          "beng2": {
            "type": "number",
            "description": "Primaire fossiele energie (BENG 2) - kWh/m2.jr",
            "format": "double",
            "nullable": true
          },
          "beng3": {
            "type": "number",
            "description": "Hernieuwbare energie (BENG 3) - %",
            "format": "double",
            "nullable": true
          },
          "rto": {
            "type": "number",
            "description": "Risico temperatuuroverschrijding (T0-juli)",
            "format": "double",
            "nullable": true
          },
          "energyIndex": {
            "type": "number",
            "description": "The energy index",
            "format": "double",
            "nullable": true
          },
          "expectedLifespan": {
            "type": "integer",
            "description": "The expected lifespan for the building",
            "format": "int32"
          },
          "expectedLifespanStructure": {
            "type": "integer",
            "description": "The expected lifespan building for the structure brand layer",
            "format": "int32"
          },
          "expectedLifespanSkin": {
            "type": "integer",
            "description": "The expected lifespan building for the skin brand layer",
            "format": "int32"
          },
          "expectedLifespanServices": {
            "type": "integer",
            "description": "The expected lifespan for the services brand layer",
            "format": "int32"
          },
          "expectedLifespanSpacePlan": {
            "type": "integer",
            "description": "The expected lifespan for the space plan brand layer",
            "format": "int32"
          },
          "expectedLifespanStuff": {
            "type": "integer",
            "description": "The expected lifespan for the stuff brand layer",
            "format": "int32"
          },
          "breeamLabel": {
            "type": "integer",
            "description": "The BREEAM label",
            "format": "int32"
          },
[...]
